
PORT=3000
NODE_ENV=development

# Redis (Configurado correctamente con el protocolo estándar redis://)
REDIS_URL="rediss://default:TOKEN_AQUÍ@closing-dragon-131936.upstash.io:6379"

# Base de datos en la Nube (Supabase integrada con Pooler)
DATABASE_URL="postgresql://postgres:TU_CONTRASEÑA_AQUÍ@aws-0-us-west-2.pooler.supabase.com:6543/postgres"

# JWT Configuración base de la guía
JWT_SECRET=studysync_secreto_super_seguro_cambialo_en_produccion_2026
JWT_EXPIRES_IN=1h